name: CI

on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main

jobs:
  build:
    name: Build
    strategy:
      matrix:
        platform:  ['macOS', 'iOS']
      fail-fast: false
    runs-on: macOS-26
    steps:
    - uses: actions/checkout@v4
    - name: Build
      uses: sersoft-gmbh/xcodebuild-action@v4
      with:
        project: SwiftBeanCountApp.xcodeproj
        scheme: SwiftBeanCountApp
        destination: ${{ matrix.platform == 'iOS' && 'generic/platform=iOS Simulator' || format('platform={0}', matrix.platform) }}
        action: build
        build-settings: -skipPackagePluginValidation -skipMacroValidation
