name: CI

on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main

jobs:
  build:
    name: Build
    strategy:
      matrix:
        platform:  ['macOS', 'iOS']
      fail-fast: false
    runs-on: macOS-26
    steps:
    - uses: actions/checkout@v4
    - name: Build
      uses: sersoft-gmbh/xcodebuild-action@v3
      with:
        project: SwiftBeanCountApp.xcodeproj
        scheme: SwiftBeanCountApp
        destination: ${{ matrix.platform == 'iOS' && 'generic/platform=iOS Simulator' || format('platform={0}', matrix.platform) }}
        action: build
        build-settings: -skipPackagePluginValidation -skipMacroValidation
  swiftlint:
    name: SwiftLint
    runs-on: macOS-26
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install SwiftLint
        run: |
          curl -L https://github.com/realm/SwiftLint/releases/download/0.62.2/portable_swiftlint.zip -o swiftlint.zip
          unzip swiftlint.zip -d swiftlint
          ./swiftlint/swiftlint --version
      - name: Run SwiftLint
        run: ./swiftlint/swiftlint --strict --reporter github-actions-logging
